
\.idea/

*.pyc



*.zip

*.data-00000-of-00001

*.mp4
*_3dplot.png
*_processed.csv
aws_access_keys\.json

images/

Models/haarcascade_frontalface_default\.xml

Models/sentiment_net/

Models/ssd/

Models/svm_model\.pkl

Models/yolo/
